<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= project.state %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= project.department_id %>
  </p>

</div>
